# 1. Sweetviz 란 ?

<img src="https://raw.githubusercontent.com/naresh192017/Naresha/master/WENN%20(1).jpg" width="80%"> <br>
#### 오픈 소스 python library이며, 단일 코드로 EDA를 간단히 할 수 있다

In [1]:
import sweetviz as sv
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In /home/advice/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The text.latex.preview rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/advice/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The mathtext.fallback_to_cm rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/advice/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle: Support for setting the 'mathtext.fallback_to_cm' rcParam is deprecated since 3.3 and will be removed two minor releases later; use 'mathtext.fallback : 'cm' instead.
In /home/advice/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The validate_bool_maybe_none function was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/advice/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The savefig.jpeg_quality rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/advice/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The keymap.all_axes rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/advice/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_path rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.
In /home/advice/.local/lib/python3.6/site-packages/matplotlib/mpl-data/stylelib/_classic_test.mplstyle:
The animation.avconv_args rcparam was deprecated in Matplotlib 3.3 and will be removed two minor releases later.

# 2. What is EDA ?
- 데이터를 다양한 각도에서 관찰하고 분석하는 것이다 
- 데이터를 분석하기 전에 그래프나 통계적인 방법으로 자료를 직관적으로 바라보는 과정이다.

# 3. 데이터 설명

In [2]:
drive = pd.read_csv("./data/drive1.csv")

In [3]:
drive.head()

,ID,target,Gender,EngineHP,credit_history,Years_Experience,annual_claims,Marital_Status,Vehical_type,Miles_driven_annually,size_of_family,Age_bucket,EngineHP_bucket,Years_Experience_bucket,Miles_driven_annually_bucket,credit_history_bucket,State
0,1,1,F,522,656,1,0,Married,Car,14749.0,5,<18,>350,<3,<15k,Fair,IL
1,2,1,F,691,704,16,0,Married,Car,15389.0,6,28-34,>350,15-30,15k-25k,Good,NJ
2,3,1,M,133,691,15,0,Married,Van,9956.0,3,>40,90-160,15-30,<15k,Good,CT
3,4,1,M,146,720,9,0,Married,Van,77323.0,3,18-27,90-160,9-14',>25k,Good,CT
4,5,1,M,128,771,33,1,Married,Van,14183.0,4,>40,90-160,>30,<15k,Very Good,WY

In [4]:
train, test = train_test_split(drive, test_size = 0.3)

# 4. sweetviz code 설명

## 4.1 analyze() <br>

In [20]:
sv.analyze?

In [23]:
single = sv.analyze([drive, "Drive"],"target")
single.show_html("single.html")

:FEATURES DONE:                    |█████████████████████| [100%]   00:08  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:03  -> (00:00 left)

Creating Associations graph... DONE!
Report single.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.

In [18]:
single.show_html("single.html")

Report single.html was generated! NOTEBOOK/COLAB USERS: no browser will pop up, the report is saved in your notebook/colab files.

## 4.2 compare()  
  - train, test의 형태를 비교할 수 있다

In [7]:
compare = sv.compare([train,"train"], [test,"test"], "target")
compare.show_html("compare.html")

:FEATURES DONE:                    |█████████████████████| [100%]   00:05  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:03  -> (00:00 left)

Creating Associations graph... DONE!

## 4.3 compare_intra
- dataframe 내 특정변수를 기준으로 target과 columns의 분포를 비교 할 수 있다.

In [9]:
target_compare = sv.compare_intra(drive, drive["Gender"] == "F", ["M","F"], "target")
target_compare.show_html("target_compare.html")

:FEATURES DONE:                    |█████████████████████| [100%]   00:06  -> (00:00 left)
:PAIRWISE DONE:                    |█████████████████████| [100%]   00:03  -> (00:00 left)

Creating Associations graph... DONE!

# 5. Pros & Cons

<img src="https://static.wixstatic.com/media/f71762_ca68d70e00094602be67cd367ea45d14~mv2.png/v1/fill/w_740,h_387,al_c,q_90,usm_0.66_1.00_0.01/f71762_ca68d70e00094602be67cd367ea45d14~mv2.webp" width="80%">

## 5.1 pros  
- category 변수의 correlation 처리에 능함 
- 깔금한 시각화 -> single 데이터 뿐만 아니라 같은 columns를 가진 데이터 비교에 용이함 
- EDA를 간단히 코드 하나로 해결할 수 있다.

## 5.2 cons

 - target 변수에 missing value가 존재하면 코드가 돌아가지 않는다.